/* margin 0 auto för centrering, bredd och lite annat satt */
body{
    width:860px;
    margin:0 auto;
    background-image:url('../img/image_berg.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    color:#fff;
    font-family:sans-serif;
    font-size:12px;
}


 img{
        float:left;
	 border:1px solid white;
	 max-width:250px;
	 max-height:200px;
	 margin:0 15px 15px 0;
}
/* Bakgrundsbilden är en svart png bild med 30% genomskinlighet.*/
section,aside,fieldset{
	 background-image:url('../img/bg_black_70.png');
         background-repeat:repeat;
         /* for IE 
         filter:alpha(opacity=65);
          CSS3 standard 
         -khtml-opacity: 0.65;  
         opacity:0.65;
         -moz-opacity:0.65;*/
         position:relative;
         color:#fff;
	
}


p,h1,h2,h3 {
	margin-left:10px;
}

header{
    border-bottom:solid #ccc 4px;
    margin:10px 0px;
}
/* endast footers som ligger direkt i body får en border-top */
body > footer{
    border-top:solid #fff 4px;
}
/* clear both för att avsluta float på elementen innan */
footer {
    padding:10px; 
   display: block; 
   border: 0.2em solid black;
   -moz-border-radius-bottomleft: 1.5em;
   -moz-border-radius-bottomright: 1.5em;
   width: 450px; 
   text-align: center;
   position:relative;
   margin-left:-19.7em; 
   left:50%; 
   margin-top: 50px;
   color: white;
   background-image: url('../img/php_image506_100.jpg');
   background-repeat:no-repeat;
   clear:both;
   height:80px;
}
article footer{
	background-image:none;
	border:none;
	height:10px;
	margin-top:10px;
}
/* float left så elementen inte tar hela bredden */
section {
    float:left;
    width:600px;
    padding-right:10px;
}
aside{
    float:left;
    width:180px;
    min-height:100px;
    max-height:200px;
}
nav {
    text-align:left;
    padding-bottom:10px;
}
article h1 {
    font-family:Georgia;	
    text-transform:uppercase;
    border-bottom:double #fff 4px;
}
article h1.note{
    text-transform:none;
    border-bottom:dotted #fff 4px;
}
header h1{
    text-transform:uppercase;	
    line-height:10px;
}
header h2{
    font-size:1em;
}
th{
	background-color:#f5df00;
}
table.mywidth1{
	width:99%;
}
th.mywidth2{
	width:60%;
}
/* Positionera rss.jpg bilden. */
a img{
	position:absolute;
	background-color:#000;
	top:-8px;
}
a.mya{
    position:relative;
    background-color:#000;		
    color:#f5df00;
    margin-left:10px;
}
a:hover{
    text-decoration:none;
}
/* Rödmarkera alla delete-länkar.*/
a.delete{
    position:relative;
    background-color:#000;	
    color:#f00;
}
a.delete:hover{
    text-decoration:none;
}
hr{
	color:#fff;
}
small{
    margin-top:5px;
    display:block;
}
/* Sätt hela bredden vid inlägg-kommentar-sida. */
section.commentandnotes{
    float:left;
    width:850px;
    padding-right:10px;
}
	
.login {
    margin-top:5px;
    text-align:right;
}
/* meddelande-boxar */
.errorMessage {
    background-color:#faa;
    border:3px solid #333;
    padding:5px;
    margin:5px;
    text-align:center;
    font-style:italic;
    color:#000;
}
.notification {
    background-color:#afa;
    border:3px solid #333;
    padding:5px;
    margin:5px;
    text-align:center;
    font-style:italic;
    color:#000;
}
.size98percentx300{
}

