/*
 * Stylesheet comments 
 *
 */
 
div.pageHeader {
	background-color: white;
	border: dashed #333333 1px;
}

div.pageHeaderMenu {
	background-color: white;
	border: 0px;
	font-family: Verdana, Sans-serif;
	text-align: center;
	padding-bottom: 10px;
	font-size: small;
}

div.pageFooter {
	background-color: white;
	border: dashed #333333 1px;
	text-align: center;
	margin-top: 10px;
}

div.pageBody {
	background-color: white;
	border: dashed #333333 1px;
	padding: 10px;
	margin-top: 10px;
}

fieldset.code {
	background-color: #eeeeee;
	color: #111111;
}

/*
 * Login
 *
 */
div.login {
	border: 1px none;
	padding-bottom: 5px;
	margin: 0px;
	text-align: right;
}
 
 
/*
 * Error message
 *
 */
div.errorMessage {
	background-color: #7F3A34;
	color: #111111;
	border: #333333 4px solid;
	padding: 5px;
	margin: 5px;
	text-align: center;
	font-style: italic;
}


/*
 * Header and fonts
 *
 */
h1 {
	font-family: Verdana, Sans-serif;
	text-align: center;
}

h2 {
	text-transform: uppercase;
	border-bottom: double #333333 4px;
}


body, p, th, td, a {	
	font-family: Verdana, Sans-serif;
	font-size: small;
	color: #111111;
}

p.small, a.small {
	font-size: smaller;
}

/*
 * Tables
 *
 */
th {
	background: #cccccc;
}
