/* =====================================================================================
 *
 * stylesheet.css
 *
 */
 
 
/* -------------------------------------------------------------------------------------
 *
 * General
 *
 */
 
body {	
	font-family: Verdana, Sans-serif;
	font-size: small;
	color: #111111;
}


