/* =====================================================================================
 *
 * stylesheet.css
 *
 */
 
 

/* -------------------------------------------------------------------------------------
 *
 * Pagestructure
 *
 */

div.login {
	background-color: yellow;
	border: none;
	padding-bottom: 5px;
	margin: 0px;
	text-align: right;
}

