/* =====================================================================================
 *
 * stylesheet.css
 *
 */
 

/* -------------------------------------------------------------------------------------
 *
 * Pagestructure
 *
 */


div.pageBody {
	background-color: skyblue;
	border: dashed #333333 1px;
	padding: 10px;
	margin-top: 10px;
}

