/* =====================================================================================
 *
 * stylesheet.css
 *
 */
 

/* -------------------------------------------------------------------------------------
 *
 * Pagestructure
 *
 */


div.pageFooter {
	background-color: olive;
	border: dashed #333333 1px;
	margin-top: 10px;
	text-align: center;
}


