/* =====================================================================================
 *
 * stylesheet.css
 *
 */
 

/* -------------------------------------------------------------------------------------
 *
 * Fonts
 *
 */
 
h1 {
	background-color: peru;
	font-family: Verdana, Sans-serif;
	text-align: center;
}

