/* =====================================================================================
 *
 * stylesheet.css
 *
 */
 

/* -------------------------------------------------------------------------------------
 *
 * Fonts
 *
 */
 
h2 {
	background-color: silver;
	text-transform: uppercase;
	border-bottom: double #333333 4px;
}

