/* =====================================================================================
 *
 * stylesheet.css
 *
 */


/* -------------------------------------------------------------------------------------
 *
 * Links
 *
 */
 
a, a:visited {
	background-color: seagreen;
	color: #111111;
}

a:hover {
	background-color: gold;
	color: #7F3A34;
}

